.chart-options.pie(v-if="chart.type == 'pie'")

  span.criteria
    span.word show me

    select(v-model="pieMoreOrLess" v-on:change="remeasureSelect(); slicePie()")
      option(value="wayMore") way more
      option(value="slightlyMore") slightly more
      option(value="same") the same
      option(value="slightlyLess") slightly less
      option(value="wayLess") way less

    input(type="text" v-model="pie.labels[0]" placeholder="javascript errors")
  
  span.criteria
    span.word(v-text="thanOrAs")

    input(type="text" v-model="pie.labels[1]" placeholder="PHP errors")

  span.criteria
    span.word and
    input(type="text" v-model="pie.labels[2]" placeholder="that's it." )

  span.criteria(v-if="pie.labels[2]")
    span.word and
    input(type="text" v-model="pie.labels[3]" placeholder="that's it." )

  span.criteria(v-if="pie.labels[3]")
    span.word and
    input(type="text" v-model="pie.labels[4]" placeholder="that's it." )

  span.criteria(v-if="pie.labels[4]")
    span.word and
    input(type="text" v-model="pie.labels[5]" placeholder="that's it." )

  span.criteria(v-if="pie.labels[5]")
    span.word and
    input(type="text" v-model="pie.labels[6]" placeholder="that's it." )

  span(v-if="showChart == true")
    button(v-on:click="slicePie()") GO
  .button-holder(v-else)
    button(v-on:click="showChart = true; slicePie()") Prove I'm right!