.chart-options.lines(v-if="chart.type == 'lines'")
  
  span.criteria
    span.word prove that as 

    input(type="text" v-model="lines[0].label")

    select(v-model="comparison[0].trend" v-on:change="newComparison()")
      option(value="goesUp") goes up
      option(value="goesDown") goes down
      option(value="fluxuates") fluxuates
      option(value="flat") stays flat

    span.comma.word , 
    
  span.criteria
    input(type="text" v-model="lines[1].label" v-on:change="newComparison()")

    select(v-model="comparison[1].trend")
      option(value="goesUp") go up
      option(value="goesDown") go down
      option(value="fluxuates") fluxuate
      option(value="flat") stay flat

  span(v-if="showChart == true")
    button(v-on:click="newComparison()") GO
  .button-holder(v-else)
    button(v-on:click="showChart = true; newComparison()") Prove I'm right!