<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fake Chart Tests</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Where members of the Trump family can enter in passwords to EARN POINTS.">
    <meta http-equiv="last-modified" content="2018-03-23@16:54:34">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Quicksand">
    <link href="css/charts.css?lastUpdated=2018-03-23@16:54:34" rel="stylesheet">
  </head>
  <body>
    <main id="app">
      <!--| {{chart.type}}-->
      <h2 class="lines-picker" v-if="chart.type == 'lines'"><span>prove that as </span>
        <input type="text" v-model="lines[0].label">
        <select v-model="comparison[0].trend">
          <option value="goesUp">goes up</option>
          <option value="goesDown">goes down</option>
          <option value="fluxuates">fluxuates</option>
          <option value="flat">stays flat</option>
        </select><span>, </span>
        <input type="text" v-model="lines[1].label">
        <select v-model="comparison[1].trend">
          <option value="goesUp">goes up</option>
          <option value="goesDown">goes down</option>
          <option value="fluxuates">fluxuates</option>
          <option value="flat">stays flat</option>
        </select>
        <button v-on:click="changeTimeline()"><span>GENERATE</span></button>
      </h2>
      <section v-if="chart.type == 'lines'">
        <chartjs-line :labels="chart.labels" :datasets="lines" :bind="true" :option="chart.options"></chartjs-line>
      </section>
    </main>
    <div class="javascripts">
      <script src="js/libraries/jquery.min.js"></script>
      <script src="js/libraries/chart.js"></script>
      <script src="js/libraries/vue-charts.js"></script>
      <script src="js/libraries/moment.js"></script>
      <script src="js/libraries/random-color.js"></script>
      <script src="js/libraries/vue.full.js"></script>
      <script type="text/javascript">
        Vue.use(VueCharts);
        
      </script>
      <script src="js/min/chart.min.js"></script>
    </div>
  </body>
</html>