body { background: $white; }

main { font-family: $font;
  h2 { color: $black; text-align: center; padding-bottom: 1em; padding-top: 1em; }
}


.chart-holder { padding-left: 340px; padding-right: 20px; }