
<div class="chart-options pie" v-if="chart.type == 'pie'"><span class="criteria"><span class="word">show me</span>
    <select v-model="pieMoreOrLess" v-on:change="remeasureSelect(); slicePie()">
      <option value="wayMore">way more</option>
      <option value="slightlyMore">slightly more</option>
      <option value="same">the same</option>
      <option value="slightlyLess">slightly less</option>
      <option value="wayLess">way less</option>
    </select>
    <input type="text" v-model="pie.labels[0]" placeholder="javascript errors"/></span><span class="criteria"><span class="word" v-text="thanOrAs"></span>
    <input type="text" v-model="pie.labels[1]" placeholder="PHP errors"/></span><span class="criteria"><span class="word">and</span>
    <input type="text" v-model="pie.labels[2]" placeholder="that's it."/></span><span class="criteria" v-if="pie.labels[2]"><span class="word">and</span>
    <input type="text" v-model="pie.labels[3]" placeholder="that's it."/></span><span class="criteria" v-if="pie.labels[3]"><span class="word">and</span>
    <input type="text" v-model="pie.labels[4]" placeholder="that's it."/></span><span class="criteria" v-if="pie.labels[4]"><span class="word">and</span>
    <input type="text" v-model="pie.labels[5]" placeholder="that's it."/></span><span class="criteria" v-if="pie.labels[5]"><span class="word">and</span>
    <input type="text" v-model="pie.labels[6]" placeholder="that's it."/></span><span v-if="showChart == true">
    <button v-on:click="slicePie()">GO</button></span>
  <div class="button-holder" v-else="v-else">
    <button v-on:click="showChart = true; slicePie()">Prove I'm right!</button>
  </div>
</div>