- var testing = true
- var siteTitle = "Fake Chart Tests"
- var siteURL = "http://trumps.pw"
- var fPlusURL = false
- var description = "Where members of the Trump family can enter in passwords to EARN POINTS."
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()
doctype html
html(lang="en")
  head
    include partials/_head.pug
  body
    main#app
      //| {{chart.type}}
      
      include partials/_build-pie.pug
      include partials/_build-line.pug
      
      //chartjs-line(:labels="chart.labels" :fill="true" :data="chart.points" :option="chart.options" :bind="true")
      chartjs-pie(:labels="chart.labels" :data="chart.points" :bind="true" :option="chart.options")
          
    include partials/_javascripts.pug