- var testing = true
- var siteTitle = "Fake Chart Tests"
- var siteURL = ""
- var fPlusURL = false
- var description = "Where members of the Trump family can enter in passwords to EARN POINTS."
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()
doctype html
html(lang="en")
  head
    include partials/_head.pug
  body
    main#app
      //| {{chart.type}}
      
      include partials/_build-line.pug
      include partials/_build-lines.pug
      include partials/_build-pie.pug
      include partials/_build-bars.pug
      
      .chart-holder
        section(v-if="chart.type == 'line'")
          chartjs-line(:labels="chart.labels" :datasets="line" :bind="true" :option="chart.options")
        section(v-if="chart.type == 'lines'")
          chartjs-line(:labels="chart.labels" :datasets="lines" :bind="true" :option="chart.options")
        section(v-if="chart.type == 'pie'")
          chartjs-pie(:labels="chart.labels" :data="chart.points" :bind="true" :option="chart.options" :backgroundcolor="pie.backgroundColors" :hoverbackgroundcolor="pie.backgroundColors")
        section(v-if="chart.type == 'bars'")
          chartjs-bar(:labels="chart.labels" :data="chart.points" :bind="true" :option="chart.options" :backgroundcolor="bars.backgroundColors" :bordercolor="'rgba(0,0,0,0)'")
          
    include partials/_javascripts.pug