- var testing = true
- var siteTitle = "Verifiable Win"
- var siteURL = "https://ahoylemon.github.io/verifiable.win"
- var fPlusURL = false
- var description = "Let's prove you're right."
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()
doctype html
html(lang="en")
  head
    include partials/_head.pug
  body
    #app
      
      .chart-selector(v-bind:class="{ intro: showChart == false, aside: showChart == true }")
        .inner
          section.intro(v-if="showChart == false")
            h1 Let's prove you're right!

          include partials/_build-line.pug
          include partials/_build-lines.pug
          include partials/_build-pie.pug
          include partials/_build-bars.pug
          
          section.type-buttons(v-if="showChart == false")
            button(v-for="type in allChartTypes" v-on:click="chart.type = type") {{type}}
      
      main.chart-holder(v-if="showChart == true && browserWidth < 600")
        section(v-if="chart.type == 'line'") 
          chartjs-line(:labels="chart.labels" :height="300" :datasets="line" :bind="true" :option="chart.options" :backgroundcolor="'rgba(75,192,192,1)'")
        section(v-if="chart.type == 'lines'")
          chartjs-line(:labels="chart.labels" :height="300" :datasets="lines" :bind="true" :option="chart.options")
        section(v-if="chart.type == 'pie'")
          chartjs-pie(:labels="chart.labels" :height="300" :data="chart.points" :bind="true" :option="chart.options" :backgroundcolor="pie.backgroundColors" :hoverbackgroundcolor="pie.backgroundColors")
        section(v-if="chart.type == 'bars'")
          chartjs-bar(:labels="chart.labels" :height="300" :data="chart.points" :bind="true" :option="chart.options" :backgroundcolor="bars.backgroundColors" :bordercolor="'rgba(0,0,0,0)'")
          
        button.download-chart(v-on:click="downloadCanvas(null,null,'proof')") Download chart
      main.chart-holder(v-else-if="showChart == true && browserWidth > 599")
        section(v-if="chart.type == 'line'") 
          chartjs-line(:labels="chart.labels"  :datasets="line" :bind="true" :option="chart.options" :backgroundcolor="'rgba(75,192,192,1)'")
        section(v-if="chart.type == 'lines'")
          chartjs-line(:labels="chart.labels"  :datasets="lines" :bind="true" :option="chart.options")
        section(v-if="chart.type == 'pie'")
          chartjs-pie(:labels="chart.labels" :data="chart.points" :bind="true" :option="chart.options" :backgroundcolor="pie.backgroundColors" :hoverbackgroundcolor="pie.backgroundColors")
        section(v-if="chart.type == 'bars'")
          chartjs-bar(:labels="chart.labels"  :data="chart.points" :bind="true" :option="chart.options" :backgroundcolor="bars.backgroundColors" :bordercolor="'rgba(0,0,0,0)'")
      
          
        button.download-chart(v-on:click="downloadCanvas(null,null,'proof')") Download chart
          
    include partials/_javascripts.pug